<div style="margin: 0 200px;">
  <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="roles"
    (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()">
        </td>
        <td>{{ data.id }}</td>
        <td>{{ data.roleName }}</td>
        <td>
          <button nz-button nzType="primary" style="margin-right: 20px;">Edit</button>
          <button nz-button nzType="danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
