<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="checkoutForm" (ngSubmit)="_login(checkoutForm.value)">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address"
                [(ngModel)]="login.email">
            <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password"
                [(ngModel)]="login.password">

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign
                in</button>
        </form>
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div>
</div>