.role .span-name{
  margin-right: 30px;
}
.role .ant-input{
width: 70%;
}
.role .form-control{
  width: 70%;
  display: inline;
}
.span-description{
margin-right: 28px;
}
.input-wrap-name{
  margin-bottom: 20px;
}
.input-wrap-description{
  display: flex;
}
