<div style="margin: 25px -1px;" class="body" class="col-md-12">
  <div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
          <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-3">
              <span style="margin-right: 10px;">Name:</span>
              <input nz-input placeholder="Name" formControlName="name" nzSize="default" />
            </div>
            <div class="col-md-4">
              <span style="margin-right: 10px;">Birth Day:</span>
              <nz-range-picker formControlName="date"></nz-range-picker>
            </div>

            <div class="col-md-2">
              <button nz-button nzType="primary"><i class="icon-user" nz-icon nzType="search"></i>Search</button>
            </div>

          </div>
        </form>
      </div>
    </div>
    <div style="margin-bottom: 10px;">
      <!-- <button nz-button nzType="primary" data-toggle="modal" data-target="#myModal">
                <span>Add user</span>
            </button>
            <add-user (submit)="addUser($event)"></add-user> -->
      <div>
        <button nz-button nzType="primary" (click)="showModalAdd()"><i nz-icon nzType="plus" class="icon-user"
            nzTheme="outline"></i>Add User</button>
        <button *ngIf="!flag" nz-button nzType="danger" nz-popconfirm nzTitle="Sure to delete?"
          (nzOnConfirm)="deleteMulti()">Delete</button>
        <button *ngIf="!flag" nz-button nzType="primary" (click)="updateMultiStatus()">Change Status</button>
      </div>
      <!-- <button nz-button (click)="addRow()" nzType="primary">Add</button> -->
    </div>

    <nz-table #filterTable [nzData]="users" [nzScroll]="{ x: '1400px', y: '500px' }" [nzLoading]="isLoad"
      nzSize="middle" [nzFrontPagination]="false" [nzShowPagination]="true">
      <thead (nzSortChange)="sortField($event)" nzSingleSort>
        <tr>

          <!-- <th nzShowSort nzSortKey="id">#</th> -->
          <th class="col-checkbox" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
          <th>Avatar</th>
          <th class="col-name">Name</th>
          <th class="col-email">Email</th>
          <th class="col-moblie">Moblie</th>
          <th class="col-birthday">BirthDay</th>
          <th class="col-age" nzShowSort nzSortKey="age">Age</th>
          <th class="col-gender">Gender</th>
          <th class="col-role" nzShowFilter [nzFilters]="roles" (nzFilterChange)="onChangeRole($event)">Role</th>
          <th class="col-status" nzShowSort nzSortKey="status" nzShowFilter [nzFilterMultiple]="false"
            [nzFilters]="statuses" (nzFilterChange)="filterStatus($event)" nzWidth="50px">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td class="col-checkbox" nzShowCheckbox nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"
            (nzCheckedChange)="refreshStatus()">
          <td class="col-image" *ngIf="data.avatar !==null">
              <nz-avatar nzIcon="user"  nzSrc="http://localhost:8080/files/{{data.avatar}}"></nz-avatar>
            </td>
          <td class="col-image" *ngIf="data.avatar === null">
            <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
          </td>
          <td class="col-name">{{data.fullName}}</td>
          <td class="col-email">{{data.email}}</td>
          <td class="col-moblie">{{data.mobile}}</td>
          <td class="col-birthday">{{data.birthDay | date :'dd-MM-yyyy'}}</td>
          <td class="col-age">{{data.age }} </td>
          <td class="col-gender">{{data.sex ===0 ? 'Male' :'Female'}} </td>
          <td class="col-role">{{data.roleName}}</td>
          <td class="col-status"><span [ngClass]="checkStatus(data.status)">{{data.status==0 ? 'InActive':'Active'}}
            </span> </td>

          <td>
            <i nz-icon nzType="edit" nz-tooltip nzTooltipTitle="Edit" nzTheme="outline" (click)="showModalEdit(data)"
              style="font-size: 17px;margin-right: 15px;"></i>
            <!-- <button nz-button nzType="primary" >Edit</button> -->
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" style="display: inline;">
              <i nz-icon nzType="bars" nzTheme="outline" style="font-size: 17px;"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <!-- <li nz-menu-item>Assign</li> -->
                <li [nzDisabled]="!flag" nz-menu-item class="line" nz-popconfirm nzTitle="Sure to delete?"
                  (nzOnConfirm)="deleteSingle(data.id)">Delete
                </li>
                <!-- <li nz-menu-divider></li> -->
                <li [nzDisabled]="!flag" nz-menu-item (click)="updateSingleStatus(data.id)">Change Status</li>
              </ul>
            </nz-dropdown-menu>

          </td>
        </tr>
      </tbody>
    </nz-table>
    <div style="float: right;margin-top: 10px">
      <nz-pagination class="pagi-ant" [nzPageIndex]="sortFilter.page" [nzTotal]="totalRows"
        [nzPageSizeOptions]="[50,100,150]" nzSize="middle" nzShowSizeChanger [nzPageSize]="50"
        (nzPageSizeChange)="changePageSize($event)" (nzPageIndexChange)="changePage($event)">
      </nz-pagination>
      <ng-template #totalTemplate let-totalRows> Total {{ totalRows }} items </ng-template>
      <ng-template #rangeTemplate let-range="range" let-totalRows>
        {{ range[0] }}-{{ range[1] }} of {{ totalRows }} items
      </ng-template>
    </div>
  </div>
</div>
<app-add-user [isVisible]="isVisible" (returnIsVisible)="closeModalAdd($event)" (value)="addUser($event)">
</app-add-user>
<app-edit-user [isVisibleEdit]="isVisibleEdit" (value)="editUser($event)"
  (returnIsVisibleEdit)="closeModalEdit($event)"></app-edit-user>
