.some-custom-class-name::ng-deep table, td, th {
    background-color: beige !important;
    line-height: 1 !important;
    text-align: center !important;
    font-size: 12px;
}

.some-custom-class-name::ng-deep table {
    border-collapse: collapse !important;
    
}